.funny-glasses {
    position: relative;
    bottom: 6.8em;
    left: 13.25em;
}

.bandana {
    position: absolute;
    top: 11em;
    left: 7em;
}

.pawprint {
    position: fixed;
    bottom: 820px;
    right: 785px;
}

.luna {
    position: sticky;
    left: 0em;
}

.top-hat {
    z-index: 1;
}